# Node modules ignore
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
server/.env

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/
out/
